<div class="panel panel-default">
  <% @chats.each do |chat| %>
    <p class="well"><%= link_to chat.title, chat_path(chat), class: "btn btn-info" %> created <%= time_ago_in_words(chat.created_at) + ' ago' %></p>
  <% end %>
</div>
