<h1>A chat about <%= @chat.title %></h1>
<p><%= @chat.description %></p>
<p>Created by <%= link_to @chat.user.username, profile_path(@chat.profile) %>, <%= time_ago_in_words(@chat.created_at) + ' ago' %></p>
<hr>
