
.edit-modal {
  height: 22vh !important;
}
#search {
    height: 5vh;
}
#comment_body {
    width: 25vw;
    height: 12vh;
}
#user_image {
    margin-left: 6vw;
    margin-top: 2vh;
    background: lavender;
    width: 70%;
    padding: 2vh;
}
