@font-face {
    font-family: 'opensans_bold';
    src: font-url('OpenSans-Bold-webfont.eot');
    src: font-url('OpenSans-Bold-webfont.woff') format('woff'),
         font-url('OpenSans-Bold-webfont.ttf') format('truetype'),
         font-url('OpenSans-Bold-webfont.svg') format('svg');

}

@font-face {
    font-family: 'opensans_light';
    src: font-url('OpenSans-Light-webfont.eot');
    src: font-url('OpenSans-Light-webfont.woff') format('woff'),
         font-url('OpenSans-Light-webfont.ttf') format('truetype'),
         font-url('OpenSans-Light-webfont.svg') format('svg');

}
