ul.chat-dropdown {
  margin-top: 6vh !important;
}

.profile-details {
  .button_to {
    display: inline;
  }
}
.student-chat-dropdown {
    margin-top: 11vh !important;
    text-align: center !important;
}
.tutor-chat-dropdown {
    margin-top: 16.5vh !important;
    text-align: center !important;
}
.chat-li {
  text-align: center !important;
}

.blog-well {
  width: 97% !important;
}
